.client {
  padding: 2rem 0 2rem 2rem !important;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.815);
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-popup {
  display: block;
}
.hide {
  display: none;
}
.card-style {
  margin: 5rem auto 5rem;
  max-width: 400px;
}

.link-title {
  margin-bottom: 1.5rem;
}

.no-client,
.no-contact {
  font-size: 18px;
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
}
